<nav>
  <div class="nav-wrapper">
    <form class="input-field col s12">
      <input id="search" type="search" data-ng-model="search" >
      <label for="search"><i class="material-icons">search</i></label>
      <i class="material-icons">close</i>
    </form>
  </div>
</nav>

<div class="input-field col s12">
  <div ng-repeat="category in genreCategories"> <p><b>{{category. category}}</b></p>
    <div ng-repeat="(type, genre) in category.genres" style="display: inline-block;width: 180px;">
      <span >
        <input type="checkbox" id="{{genre}}" value="{{genre}}" ng-click="toggleSelection(genre)"/>
        <label for="{{genre}}">{{genre}}</label>
      </span>
    </div>
  </div>
</div>
