<!DOCTYPE html>
<html>
  <head>
    <title>Reedsy</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/Materialize/dist/js/materialize.js"></script>
    
  </head>
  
  <body ng-app="reedsy">
    <div ui-view class="container"></div>
    <section ng-view class="app-view">
      <!--Angular insert-->
    </section>

  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>


  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/angular-moment/angular-moment.js"></script>

  

  <script src="bower_components/angularUtils-pagination/dirPagination.js"></script>

  <script src="/app/app.js"></script>

  <script src="/app/services/books/book.js"></script>

  <script src="/app/controllers/books/books.js"></script>
  <script src="/app/controllers/books/book.js"></script>

  <script src="/app/directives/options.js"></script>

  <script src="/app/filters/search.js"></script>
  <script src="/app/filters/genreCategory.js"></script>

</body>
</html>
