<!DOCTYPE html>
<html>
  <head>
    <title>Yaya</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

  </head>
  
  <body ng-app="reedsy" ng-controller="BooksIndexController">
    <div ui-view class="container"></div>
    <section ng-view class="app-view">
      <!--Angular insert-->
    </section>

  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>


  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/angular-moment/angular-moment.js"></script>

  <script src="/app/app.js"></script>

  <script src="/app/services/books/book.js"></script>

  <script src="/app/controllers/books/books.js"></script>
  <script src="/app/controllers/books/book.js"></script>


</body>
</html>
